.app-container {
  width: calc(100vw - 100px);
  height: calc(100vh - 100px);
}

@media screen and (min-width: 1280px) {
  .app-container {
    width: 1200px;
    height: 600px;
  }
}

@media screen and (min-width: 1366px) {
  .app-container {
    width: 1280px;
    height: 640px;
  }
}

@media screen and (min-width: 1536px) {
  .app-container {
    width: 1366px;
    height: 678px;
  }
}

@media screen and (min-width: 1600px) {
  .app-container {
    width: 1440px;
    height: 720px;
  }
}

@media screen and (min-width: 1920px) {
  .app-container {
    width: 1600px;
    height: 800px;
  }
}

@media screen and (min-width: 2560px) {
  .app-container {
    width: 1920px;
    height: 960px;
  }
}
