.process-node-destination {
  gap: 16px;
  padding: 4px 16px;
  border-radius: 8px;
  background-color: #272727;
  width: 400px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.process-node-destination-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.process-node-destination-body {
  display: flex;
  gap: 10px;
}

.process-node-destination-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20px;
}

.file-info-item {
  height: 20px;
}

.process-node-destination-footer span {
  font-size: 12px;
  color: #ccc;
}

.destination-image-container {
  height: 60px;
  width: 104px;
  flex-shrink: 0;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.destination-image-container .ant-image {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.destination-image-container .ant-image img {
  height: 100%;
  width: 100%;
}

.destination-image-format {
  width: 24px;
  text-align: center;
}

.destination-image-format .format-text {
  font-size: 12px;
  scale: 80%;
}

.process-node-destination img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.process-node-destination__file-info {
  width: 240px;
  color: #fff;
  font-size: 0.85em;
  flex-grow: 1;
  gap: 8px;
}

.process-node-destination__file-info p {
  margin: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: #808080;
  font-size: 12px;
}



.process-node-destination__file-info .size-up {
  color: #ff477e;
}

.process-node-destination__file-info .size-down {
  color: #28b969;
}

.process-node-destination .file-info__label {
  margin-right: 4px;
  opacity: 0.7;
}

.process-node-destination__button-group {
  display: flex;
  gap: 8px;
  flex-shrink: 0;
}

.process-node-destination__link {
  color: #ccc;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
  text-decoration: none;
  white-space: nowrap;
}

.process-node-destination__link:hover {
  color: #4396f2;
}

.process-node-destination__link + .process-node-destination__link {
  margin-left: 8px;
}

button.process-node-destination__link,
.process-node-destination__link button {
  border: none;
}

.process-node-destination__error {
  height: 60px;
  width: 104px;
  color: #ff477e;
  font-size: 12px;
  display: flex;
  align-items: center;
  width: 360px;
}
