.image-converter__options {
    background-color: #272727;
    margin-top: 20px;
    padding: 20px;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.image-converter__quality,
.image-converter__format,
.image-converter__scale {
  display: flex;
  align-items: center;
  gap: 8px;
}

.image-converter__quality label {
  white-space: nowrap;
}

.image-converter__quality span {
  line-height: 24px;
}

.image-converter__select {
  margin-left: 4px;
}

.image-converter__scale span {
  line-height: 24px;
}
