/* 应用程序布局相关样式 */
.layout {
  width: 100vw;
  height: 100vh;
  background: #fff;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.layout__container {
  width: 100%;
  height: 100%;
}

.layout__container--inner {
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 1px 1px 10px #1e1e1e;
}

.layout__body {
  width: 100%;
  height: calc(100% - 30px);
  display: flex;
  flex-direction: row;
  background: #1e1e1e;
  overflow: hidden;
}


.layout-header {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  padding: 0 12px;
  box-sizing: border-box;
  background: #1e1e1e;
}

.layout-header-right {
  flex: 1;
  display: flex;
  justify-content: center;
}

.layout-header-title {
  margin: 0;
  display: inline-block;
  font-size: 14px;
  font-weight: normal;
  color: #ccc;
  text-align: center;
  padding: 0 16px;
  border-radius: 8px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}